.dropdown {
  width: 12.5rem;
  position: relative;
  z-index: 1000;
}

.dropdown .dropdown_btn {
  background-color: var(--element);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15rem 1.5rem;
  font-size: 0.875em;
  font-weight: var(--Font-semibold);
  color: var(--text);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.dropdown .dropdown_content {
  position: absolute;
  top: 110%;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--element);
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown_content .dropdown_item {
  padding: 0.25rem;
  color: var(--text);
  font-size: 0.875em;
  font-weight: var(--Font-semibold);
  cursor: pointer;
  user-select: none;
}

.dropdown .dropdown_content .dropdown_item:hover {
  color: var(--input);
}

@media (max-width: 749px) {
  .dropdown {
    padding-top: 3em;
  }
}
