@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Font-family: "Nunito Sans", sans-serif;
  --Font-regular: 300;
  --Font-semibold: 600;
  --Font-bold: 800;
}

.light {
  --text: #111517;
  --input: #858585;
  --background: #fafafa;
  --element: #ffffff;
  --placeholder: #858585;
}

.dark {
  --text: #ffffff;
  --input: #858585;
  --background: #202c37;
  --element: #2b3945;
  --placeholder: #ffffff;
}

body {
  font-family: var(--Font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
